#welcome-container {
  background-image: linear-gradient(white, $primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1,
    button {
      margin: 10px;
    }
  }
}
#welcome-container div .btn {
  background-color: white;
  border-radius: 0;
  border: 3px solid $primary;
  float: right;
}
.login form {
  .btn {
    background-color: white;
    border-radius: 0;
    border: 3px solid $primary;
    float: right;
  }

  input {
    border-radius: 0px;
  }
}
.message-container {
  .border {
    background-color: white;
    border-width: 3px;
  }
}

.login {
  background-image: linear-gradient(white, $primary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
