.jumbotron .btn,
.card .card-body .btn {
  background-color: white;
  &:hover {
    color: $red;
  }
}

footer .row div form div button,
.container .row div button,
.card .card-body .btn {
  border-radius: 0;
}
