.jumbotron .container .btn {
  background-color: white;
  border-radius: 0px;

  a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    &:hover {
      color: $red;
    }
  }
}

footer .row div form div button,
.container .row div button,
.card .card-body .btn {
  border-radius: 0;
}

.shop div .dropdown {
  .btn {
    border-radius: 0px;
  }
  .dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
  }
  li button {
    border: none;

    background-color: white;
  }
}

#welcome-container div .btn {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $red;
    }
  }
}
.product-container button {
  border: 3px solid $primary;
  &:hover {
    color: $red;
  }
}

form .submit-btn,
.deleteContainer .submit-btn {
  border-radius: 0px;
  float: right;
  width: 100px;
  margin-top: 15px;

  &:hover {
    color: $red;
  }
}

.deleteContainer .submit-btn {
  margin-bottom: 40px;
  clear: right;
}

form .deleteContainer {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
