.carousel .carousel-inner .carousel-item .row,
.shop .container .shop-container {
  .card {
    background-color: $primary;
    border-radius: 0;
    border-color: transparent;
    padding: 5px;
    height: 350px;
    a img {
      height: 200px;
      width: 100%;
      object-fit: contain;
      background-color: white;
    }
    .card-body {
      h5,
      p,
      a,
      i {
        margin: 0;
        padding: 0;
      }
    }
  }
}
