.carousel .carousel-inner .carousel-item .row,
.shop .container .shop-container {
  .card {
    background-color: $primary;
    border-radius: 0;
    border-color: transparent;
    padding: 5px;
    img {
    }
    .card-body {
      h5,
      p,
      a,
      i {
        margin: 0;
        padding: 0;
      }
    }
  }
}
