.carousel {
  .carousel-inner {
    /*overflow: visible;*/
    .carousel-item .row .card a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  button i {
    color: black;
  }
}

.padding {
  padding: 5vw;
  padding-left: 0;
  padding-right: 0;
}

.flex-column {
  height: 130px !important;
  align-content: space-between;
}

/*
#carouselExampleIndicators .carousel-inner {
  overflow: visible;
}*/
/* Media Query for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel-item .row {
    width: 70%;
    margin: auto;
  }
}

/* Media Query for Desktop*/
@media (min-width: 1024px) {
  .carousel-item .row {
    width: 70%;
    margin: auto;
  }
}
