$primary: #fddfdf;
$secondary: #fff0f0;
$red: #c30b0b;

$font-family-base: soleil, sans-serif;
$font-family-serif: monarcha, serif;
$headings-font-family: monarcha, serif;
$btn-font-family: monarcha, serif;
