.jumbotron {
  background-image: linear-gradient(white, $primary);
  height: 100vh;
}

.jumbotron .container {
  padding: 50px;
}

.jumbotron img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.jumbotron img:first-of-type {
  z-index: 1000;
}
