.jumbotron {
  background-image: linear-gradient(white, $primary);
  height: 100vh;
}

.jumbotron .container {
  padding: 50px;
}

.jumbotron img,
.jumbotron a img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.jumbotron a img:first-of-type {
  z-index: 1;
  width: 70px;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .jumbotron #jumbotron {
    max-height: 60%;
    left: auto;
  }
  .jumbotron .container {
    padding: 90px;
  }
}

/* Media Query for Desktop*/
@media (min-width: 1024px) {
  .jumbotron img:last-of-type {
    left: auto;
    max-height: 90%;
  }
  .jumbotron a img:first-of-type {
    left: 0;
  }
}
