.loading {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: $red;
    font-size: 30px;
  }
}

.loadingCarousel {
  i {
    color: $red;
    font-size: 30px;
  }
}
