header .navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
  .container-fluid {
    font-family: $font-family-serif;

    .navbar-toggler {
      border: transparent;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      height: 37px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 30px;
      right: 5vw;
      z-index: 10;
      &:focus {
        box-shadow: none;
      }
    }

    a .fa-shopping-cart {
      position: absolute;
      right: 0.75rem;
      top: 20px;
      font-size: 20px;
      transition: all, 0.3s;
      &:hover {
        color: $red !important;
      }
    }
  }

  span {
    height: 2pt;
    width: 100%;
    background-color: black;
    border-radius: 1pt;
    position: relative;
    display: inline-flex;
    transition: all, 0.3s;
  }

  .navbar-toggler[aria-expanded="true"] {
    .span2 {
      width: 0;
    }
  }

  .navbar-toggler[aria-expanded="true"] {
    .span1 {
      transform: rotate(-45deg);
      top: 9px;
      background-color: $red;
    }
  }

  .span1 {
    top: 0;
  }
  .span3 {
    bottom: 0;
  }

  .navbar-toggler[aria-expanded="true"] {
    .span3 {
      transform: rotate(45deg);
      bottom: 9px;
      background-color: $red;
    }
  }

  .navbar-brand {
    background-image: url("../../files/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    height: 25px;
    margin-left: 15%;
    top: 17px;
    left: 0;
    position: absolute;

    &:hover {
      background-image: url("../../files/logo_red.svg");
    }
  }
}
#sign-out {
  border-radius: 0px;
  background-color: white;
  padding-top: 0;
  border: none;
  padding-left: 0;
}
/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  header .navbar .container-fluid {
    width: 90%;
    margin: auto;
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar .container-fluid .navbar-toggler {
    display: none !important;
  }

  header .navbar .container-fluid {
    width: 90%;
    margin: auto;
    a .fa-shopping-cart {
      top: 32px;
      right: 20px;
    }
    .collapse {
      justify-content: center;
      margin-top: 40px;
      display: flex;

      ul {
        width: 240px;
        justify-content: space-between;
        flex-direction: row;
        .nav-item {
          .active {
            text-decoration: underline;
          }
          a {
            color: black;
            padding: 0;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }

    .navbar-toggler {
      display: none;
    }
  }
  header #admin-nav .container-fluid {
    .collapse {
      width: 100%;
      .navbar-nav {
        width: auto;
        justify-content: space-around;
        .nav-item {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
