.product-container .row .col-12 {
  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    background-color: white;
  }

  ul li a {
    color: black;
    border: 3px solid $primary;
    border-radius: 0px;
    border-bottom: 0px;
    &[aria-selected="true"] {
      background-color: $primary;
    }
  }
  .tab-content .tab-pane {
    border: 3px solid $primary;
    padding: 10px;
  }
}

.product-container .row > * {
  padding-left: 0;
  padding-right: 0;
}
/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
}

/* Media Query for Desktop*/
@media (min-width: 992px) {
}
