.shop {
  div {
    .dropdown button {
      width: 160px;
    }

    form div input {
      border-radius: 0;
      border: 3px solid $primary;
    }
  }
  .container {
    padding: 0;
    .shop-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 20px 20px;

      .card {
        height: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .shop {
    div {
      form {
        order: 2;
      }
      .dropdown {
        order: 1;
        button {
          border: 3px solid $primary;
        }
      }
    }
    .container .shop-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 1024px) {
  .shop {
    div {
      form {
        order: 2;
      }
      .dropdown {
        order: 1;
        button {
          border: 3px solid $primary;
        }
      }
    }
    .container .shop-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
