body {
  font-weight: 400;
  font-style: normal;
}

.text-red {
  color: $red;
}

footer .row div a,
.breadcrumb a {
  text-decoration: none;
  color: black;
}

.serif {
  font-family: $font-family-serif;
}
#price {
  font-weight: 600;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  h1 {
    font-size: 35px !important;
  }
}
/* Media Query for Desktop*/
@media (min-width: 922px) {
  h1 {
    font-size: 35px !important;
  }
}
