.shop,
.product-container .row {
  width: 90vw;
  margin: auto;
  max-width: 400px;
  .full-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
  div .shop-container {
    margin: auto;
  }
}

.title,
.breadcrumb .breadcrumb-item {
  padding-left: var(--bs-gutter-x, 0.75rem);
}

.shop {
  width: 80vw;
  max-width: 700px;
}

.product-container {
  padding: 0;
  .row {
    width: 80vw;
    max-width: 700px;
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .shop {
    width: 80vw;
    max-width: 700px;
  }
  .title,
  .breadcrumb {
    width: 90%;
    margin: auto;
  }
}

/* Media Query for Desktop*/
@media (min-width: 992px) {
  .shop {
    width: 70vw;
    max-width: 900px;
  }
  .title,
  .breadcrumb {
    width: 90%;
    margin: auto;
  }
}
