.shop,
.product-container .row {
  width: 90vw;
  margin: auto;
  max-width: 400px;
  .full-width {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
  div .shop-container {
    margin: auto;
  }
}

.title,
.breadcrumb .breadcrumb-item {
  padding-left: var(--bs-gutter-x, 0.75rem);
}

.shop {
  width: 80vw;
  max-width: 700px;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .shop {
    width: 80vw;
    max-width: 700px;
  }
  .title,
  .breadcrumb {
    width: 90%;
    margin: auto;
    .active {
      margin: 0;
      width: 280px;
    }
  }
  .product-container {
    width: 80vw !important;
    max-width: 700px !important;
    .first {
    }
    .second {
      h1 {
        font-size: 20px;
      }
    }
    .row {
      margin: 0;
      width: auto;
      max-width: 100%;
    }
    .nav-tabs {
      padding-top: 40px;
    }
    .tab-content {
      padding-bottom: 40px;
    }
    .product-row {
      width: 100%;
      margin: 0;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 1fr 1fr;
      padding-bottom: 40px;
      padding-top: 40px;
      .tab-container {
      }
      .pb-5,
      .pt-3 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
      .col-md-6 .col-12 .full-width {
        height: fit-content;
        width: 100%;
        left: 0;
      }
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 992px) {
  .shop {
    width: 70vw;
    max-width: 900px;
  }
  .title,
  .breadcrumb {
    width: 90%;
    margin: auto;
    .active {
      margin: 0;
      width: 280px;
    }
  }

  .product-container {
    width: 70vw !important;
    max-width: 900px !important;
    .first {
    }
    .second {
      h1 {
        font-size: 25px;
      }
    }
    .row {
      margin: 0;
      width: auto;
      max-width: 100%;
    }
    .nav-tabs {
      padding-top: 40px;
    }
    .tab-content {
      padding-bottom: 40px;
    }
    .product-row {
      width: 100%;
      margin: 0;
      display: grid;
      grid-gap: 40px;
      grid-template-columns: 1fr 2fr;
      padding-bottom: 40px;
      padding-top: 40px;
      .tab-container {
      }
      .pb-5,
      .pt-3 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }
      .col-md-6 .col-12 .full-width {
        height: fit-content;
        width: 100%;
        left: 0;
      }
    }
  }
}
